/*		Khriz Enríquez @khrizenriquez*/

//@import normalize
//@import url("../libs/foundation.min.css")
@import url("../libs/foundation-icons.css");
@import url("../libs/foundation.css")
@import url("../libs/joint.min.css")

//		Variables globales
fondo = #00aba9

/*		---------------------------------Selectores generales*/
body
	//background fondo
	background url("../../img/background/azul-difuminado.jpg") no-repeat fixed
	background-size 100% 100%
	//background linear-(180deg, #f0f, #f66)
	font-size 16px
h1
	color white
footer
	text-align center
	label
		a
			color white
			font-weight 300
			text-decoration none
textarea
	resize none
/*		---------------------------------Selectores por id*/
#contenidoInferior
	.panel
		background rgba(white, 0)
		border none
		overflow hidden
		padding 0
		//position relative
		#diagrama, #tablaDatos
			background white
			border-left rgba(black, .5) 1px solid
			transition all 1s ease
		#diagrama
			height 100%
			padding 0
		#tablaDatos
			height 100%
			padding 0
			//left 100%
			//position absolute
			//top 0%
#diagramaEstados, #tipoAutomata
	text-align center
/*		---------------------------------Selectores por clase*/
.barra
	background rgba(black, .9)
	color white
	cursor pointer
	font-size 1.5em
	padding-left 1em
.contenedor
	text-align center
	.mientras
		font-size 15em
.label
	font-size .9em
	margin-left .25em
	margin-rigth .25em
/*.panel
	box-shadow 3px 3px 5px #202020*/
/*		---------------------------------Media queries*/